<div class="nav-item">
  <%= link_to 'articles', "/", class: 'header-nav' %>
  </div>

<h1 class='queries-header'>Queries</h1>

<% if @queries.empty? %>
  <p> OOps, you don&apos;t have query yet </p>
<% else %>
  <%= render "queries", queries: @queries %>
<% end %>
